aws_region  = "us-east-1"
environment = "dev"

# Existing AWS EC2 Key Pair name
key_name = "your-key-pair-name"

# RDS database password
db_password = "CHANGE_ME"

# Docker Hub image
docker_image = "vijayvw/cloudcart:latest"
